<link rel="stylesheet" href="./footer.component.css">
<footer class="footer" style="text-align: center;">
    <div class="container">
        <span class="text-muted">
        <p>  
        &copy; 2020 | Todos los derechos reservados <br>
    </p>
    <div class="social" >
        <div class="instagram">
            <a href="https://www.instagram.com/antojitos_martita_/" class="icon">l</a>
        </div>
      <div class="facebook">
          <a href="https://www.facebook.com/comedor.martita.90" class="icon">f</a>
      </div>
      <div class="whatsapp">
          <a href="https://api.whatsapp.com/send?phone=50254627157&text=&source=&data=&app_absent=" class="icon">w</a>
      </div>
  </div>
  <p id="bottom-text">
    Privación y política | Términos y condiciones
  </p>
    </span>
    </div>
</footer>