<link rel="stylesheet" href="./footer.component.css">
<footer class="footer" style="text-align: center;">
    <div class="container">
        <span class="text-muted">
        <p>  
        &copy; 2020 | Todos los derechos reservados <br>
    </p>
    <div id="social" >
      <div class="twitter">
          <a href="#" class="icon">t</a>
      </div>
      <div class="facebook">
          <a href="#" class="icon">f</a>
      </div>
      <div class="google">
          <a href="#" class="icon">g</a>
      </div>
  </div>
  <p id="bottom-text">
    Privación y política | Términos y condiciones
  </p>
    </span>
    </div>
</footer>