<body style="text-align: center"> 
    

<select [(ngModel)]="typeOfSubmit">
    <option value="saucers">
        SAUCERS OPTIONS
    </option>
    <option value="combos">
        COMBOS OPTIONS
    </option>
    <option value="familiarCombos">
        FAMILIAR COMBO OPTIONS
    </option>
</select>
<br> <br>
<form [formGroup]="toSubmitForm" (ngSubmit)="submit()">
    <input type="text" name="name" formControlName="name" placeholder="Nombre">
    <br> <br>
    <textarea name="ingredients" formControlName="ingredients" placeholder="Ingredientes" cols="30" rows="10"></textarea>
    <br> <br>
    <textarea name="description" formControlName="description" cols="30" rows="10" placeholder="Descripción"></textarea>
    <br> <br>
    <label> Precio</label>
    <br>    
    <input type="number" name="price" formControlName="price" placeholder="Precio">
    <br> <br>
    <input type="file" (change)="handdleFileChange($event)" accept="image/png, image/jpg, image/JPG">
    <br> <br>
    <input type="submit" value="Agregar" *ngIf="!loading">
</form>

</body>