<br>
<div class="myGridCards" >
  <div class="myCard" *ngFor="let combo of combos">
    <div >
    <img [src]="combo.photoUrl" >
  </div>
<div class="myCard-content">
    <h5 class="">{{combo.name}}</h5>
    <h6 class="">{{combo.description}}</h6>
    <h6 class="">Ingredientes: {{combo.ingredients}}</h6>
    <p class=""> Price: Q{{combo.price}} </p>
    <a  href="https://api.whatsapp.com/send?phone=50254627157&text=&source=&data=&app_absent=">
      Has tu pedido por whatsapp:  
      <img src="../../../assets/img/whatsapp_icon-icons.com_62756.png" style="max-width: 70px; max-height: 70px;">
    </a>
  </div>
</div>
</div>

