<app-navbar></app-navbar>

<div class="imgContainer">
    <img src="../../../assets/img/prevenciones19.jpg" class="img-fluid" alt="Responsive image">
</div>

<div class="container-principal">
    <div id="container">
        <h2>COMBOS</h2>
        <section id="button-container">
            <div id="button">Ver Combos</div>
        </section>
    </div>
    <div id="container">
        <h2>PLATILLOS</h2>
        <section id="button-container">
            <div id="button">Ver Platillos</div>
        </section>
    </div>
    <div id="container">
        <h2>APP MOBILE</h2>
        <section id="button-container">
            <div id="button">Descargar</div>
        </section>
    </div>

</div>

<div class="container-extra">
    <div id="container">
        <div id="text">
            <h1>AQUÍ SE COME<br> COMO EN CASA...<br> PERO SIN TENER<br> QUE LAVAR LOS PLATOS</h1>
        </div>
    </div>
    <div id="container">
    </div>
</div>

<app-footer> </app-footer>