<div class="container-image">
    <img src="../../../assets/img/prevenciones19.jpg" class="hero" alt="Responsive image">
    <div class="back-black"></div>
</div>


<div class="container-grid">
    <div class="option">
        <h2>COMBOS</h2>
        <button class="button" routerLink="/combos">Ver Combos</button>
    </div>

    <div class="option">
        <h2>PLATILLOS</h2>
        <button class="button" routerLink="/saucers">Ver Platillos</button>
    </div>

    <div class="option">
        <h2>APP MOBILE</h2>
        <button class="button" routerLink="/news">Descargar</button>
    </div>
</div>


<div class="container-grid-2">
    <div class="option-2">
        <div id="text">
            <h1>Antojitos Martita,<br>con la receta de la abuelita.</h1>
            <button class="button" routerLink="/acerca">Acerca de Nosotros</button>
        </div>
    </div>
    <div class="option-2">
        <img src="../../../assets/img/fondo.png" class="hero-2" alt="Responsive image down">
    </div>
</div>