#carouselExampleIndicators {
    height: 552px;
    overflow: hidden;
}

.clearFix {
    float: none;
    clear: both;
}

#container {
    display: block;
    float: left;
    background-color: white;
    width: 30%;
    height: 290px;
    border: 1px solid black;
    margin: 22px;
    text-align: center;
    padding-top: 80px;
    border-radius: 2px;
}

.container-principal {
    width: 100%;
    height: 333px;
    background-color: white;
}

.container-principal h2 {
    color: black;
}

.container-principal #button-container {
    padding-top: 13px;
    padding-left: 120px;
    cursor: pointer;
}

.container-principal #button {
    width: 170px;
    height: 48px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    color: black;
    border: 1px solid black;
    transition: all 300ms;
}

.container-principal #button:hover {
    background-color: #67BFB1;
    color: white;
    border: none;
}

.container-extra {
    display: block;
    width: 100%;
    height: 500px;
    background-color: #67BFB1;
}

.container-extra #container {
    width: 46.5%;
    height: 450px;
    background-color: #67BFB1;
}

.container-extra #container img {
    height: 100px;
}

.imgContainer {
    width: 100%;
    overflow: hidden;
}

.container-extra #container h1 {
    display: block;
    padding-top: 20px;
}

.container-extra #container #text {
    width: 51%;
}