<app-navbar></app-navbar>

<div class="container-image">
    <img src="../../../assets/img/prevenciones19.jpg" class="hero" alt="Responsive image">
    <div class="back-black"></div>
</div>


<div class="container-grid">
    <div class="option">
        <h2>COMBOS</h2>
        <section class="button-container">
            <div class="button">Ver Combos</div>
        </section>
    </div>
    <div class="option">
        <h2>PLATILLOS</h2>
        <section class="button-container">
            <div class="button">Ver Platillos</div>
        </section>
    </div>
    <div class="option">
        <h2>APP MOBILE</h2>
        <section class="button-container">
            <div class="button">Descargar</div>
        </section>
    </div>

</div>


<div class="container-extra">
    <div id="container">
        <div id="text">
            <h1>AQUÍ SE COME<br> COMO EN CASA...<br> PERO SIN TENER<br> QUE LAVAR LOS PLATOS</h1>
        </div>
    </div>
    <div id="container">
    </div>
</div>

<app-footer> </app-footer>