/*Files changed by Lucas*/

.container-image {
    width: 100%;
    position: relative;
}

.hero {
    object-fit: cover;
    width: 100%;
}

.back-black {
    width: 100%;
    /*background-color: rgba(0, 0, 0, 0.2);*/
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.option {
    display: block;
    padding: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    margin-bottom: 0.5em;
    margin: 16px;
    width: 30%;
    height: 300px;
    min-width: 320px;
}

.option h2 {
    padding: 5px;
    font-size: 1.2em;
    font-weight: 600;
    margin: 0;
    text-align: center;
}

.container-grid {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.button {
    background-color: white;
    border: 1px solid black;
    outline: inherit;
    transition: all 300ms;
    display: block;
    width: 40%;
    height: 48px;
    min-width: 60px;
    margin: 20%;
    margin-left: 30%;
}

.button:hover {
    background-color: #67BFB1;
    color: white;
    border: none;
}

.container-grid-2 {
    background-color: #67BFB1;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.option-2 {
    display: block;
    padding: 8px;
    margin-bottom: 0.5em;
    margin: 16px;
    width: 47%;
    height: 300px;
    min-width: 320px;
}

#text {
    margin-top: 8%;
    padding-left: 5%;
}

#text button {
    margin: 0 auto;
    margin-left: 0.5%;
    border-radius: 0px;
    background-color: #343A40;
    color: white;
    border: none;
}

.hero-2 {
    width: 45%;
    height: 300px;
    min-height: 280;
    margin-left: 25%;
}