<br>
<div>
<div class="container-image">
  <img src="../../../assets/img/toys.jpeg" class="hero" alt="Responsive image">
  <div class="back-black"></div>
</div>
<br>
<div class="myGridCards" >
  <div class="myCard" *ngFor="let promotion of promotions">
    <div >
    <img (click)="handleOpenModal(promotion.photoUrl)" [src]="promotion.photoUrl" >
  </div>
<div class="myCard-content">
    <h5 class="">{{promotion.name}}</h5>
    <h6 class="">{{promotion.description}}</h6>
    <h6 class="">Ingredientes: {{promotion.ingredients}}</h6>
    <p class=""> Price: Q{{promotion.price}} </p>
    <a  href="https://api.whatsapp.com/send?phone=50254627157&text=&source=&data=&app_absent=">
      Has tu pedido por whatsapp:  
      <img src="../../../assets/img/whatsapp_icon-icons.com_62756.png" style="max-width: 70px; max-height: 70px;">
    </a>
  </div>
</div>
</div>
<app-promotion-modal [showModal]="!!photoUrlToShow"(closeOutput)="handleCloseModal()">
  <img [src]="photoUrlToShow" class="photoModal">
</app-promotion-modal>
</div>
