<br>
<div class="container-image">
    <img src="../../../assets/img/b3a87463-d33b-4ba8-886b-42c7ade04b8d.jpg" class="hero" alt="Responsive image">
</div>
<br>



<p style="text-align: center; font-size: 120%;">
    <li>
        Zona 11, colonia Roosevelt
    </li>
    <li>
        Teléfono: 54627157
    </li>
    <li>
        Horario: Lunes a Domingo de 1:00pm a 11:00 Pm
    </li>
    <li>
        Únicamente para llevar o a domicilio
    </li>
    <li>
        Para servicio a domicilio el consumo mínico es de Q15
    </li>
    <li>
        Fuera de zona 11, el envío es de Q20 por consumo mínimo
    </li>
</p>

<h4 style="text-align: center; font-size: 150%;">Somos un pequeño negocio familiar, que surgió a raíz de la pandemia del COVID-19. <br>
    Con el objetivo de salir adelante, y además de compartir nuestras recetas con nuestros amigos y clientes.</h4>
